<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Item Catalog</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
	<script>
	  function start() {
	    gapi.load('auth2', function() {
	      auth2 = gapi.auth2.init({
	        client_id: '604722470093-3p2p11bc9dkpg8mk0plm458kc8gllaf4.apps.googleusercontent.com'
	      });
	    });
	  }
	</script>
   </head>
  <body>
<!-- display the Home button at top of page  -->
    <div class="row top-menu">
    	<div class="col-md-6">
    		<a href="{{url_for('showCategories')}}">
    			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home - All Categories
    		</a>
    	</div>
    </div>
<!-- display the main banner at top of page  -->
    <div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Catalog Log In/Out</h1>
		</div>
	</div>
	<div class="col-md-12 divider"></div>
<!-- check to see if the user is already logged in -->
	<div class="row">
	    <div class="col-md-2"></div>
		<div class="col-md-8">

		{% if 'username' not in session %}
				<button id="signinButton">Sign in to Google</button>
				<div id="result"></div>
		{% else %}
				<a href="{{url_for('disconnect')}}">Sign out of Google</a>
		{% endif %}
		</div>
		<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
		<div class=col-md-2></div>

  	</div>

    <script>
      function onSignIn(googleUser) {
        // data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        // ID token for backend:
        var id_token = googleUser.getAuthResponse().id_token;
      }
    </script>

	<script>
	  $('#signinButton').click(function() {
	    function signInCallback(authResult){
	      if (authResult['code']){
	        $('#signinButton').attr('style', 'display: none');
	        $.ajax({
	          type: 'POST',
	          url: '/gconnect?state={{STATE}}',
	          headers: {
	          'X-Requested-With': 'XMLHttpRequest'
	          },
	          contentType: 'application/octet-stream; charset=utf-8',
	          success:function(result){
	            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
	                 setTimeout(function() {
	                  window.location.href = "/";
                  }, 3000);
	          },
	          processData:false,
	          data:authResult['code']
	        });
	      } else{
	        // handle error
	        console.log('An error was thrown: ' + authResult['error']);
	        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
	      }
	    }
	    auth2.grantOfflineAccess().then(signInCallback);
	  });
	</script>

  </body>
</html>
